* {
    padding: 0;
    margin: 0;
}
.main {
    background-color: #99f08e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 65px;
}
.game-mode {
    display: flex;
    flex-direction: column;
}
.difficulty {
    margin-bottom: 32px;
    width: 282px;
    height: 82px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 82px;
}

.difficulty:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#easy:hover {
    background-color: #21d940c5;
}
#medium:hover {
    background-color: #f5f257de;
}
#hard:hover {
    background-color: #c41717c5;
}

#cow {
    width: 72px;
    height: 67px;
}
#game-title {
    margin-right: 20px;
    font-size: 35px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
#easy {
    background: #36D921;
}
#medium {
    background: #F4FC05;
}
#hard {
    background: #D1250F;
}
